body{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name, #player1_score, #player2_score
{
	display: inline-block;
	margin-left: 20px;
	color: white;
}

#round{
	margin-left: 1000px;
	font-weight: bolder;
}

#output{
	background-color: white;
	border-radius: 10px;
	border-top: 10px solid #AA4465;
	padding: 10px;
	float: none;
	text-align: left;
}

#number1, #number2
{
	width: 60%;
}